*
  margin: 0px
  padding: 0px

body
  font-family: 'Open Sans'
  font-size: 18pt/1.67
  color: #505d68
  height: 100%

.wrapper
  min-height: 100%

.block-header
  background: url(/images/about-bg.png) 100% 100% no-repeat
  width: 100%
  background-size: cover
  height: 100vh

.block-logo
  padding: 16px 0 0 48px

.block-menu_elem-name
  color: #ffffff
  font-size: 12pt
  padding: 32px 8px 0 0
  font: 'Open Sans', semibold

.block-menu_elem-icon
  padding: 31px 49px 0 0
  height: 13px
  width: 19px

.block-menu
  float: right

.block-down
  width: 100%
  text-align: center

.block-down_elem-iconDown
  width: 31px
  display: inline-block
  left: 50%
  position: absolute
  bottom: 55px

.block-about
  text-align: center

.block-about_elem-text
  background: #ffffff
  margin: auto 0
  display:inline-block
  color: #021725
  width: 769px
  padding: 166px 0
  font-size: 15pt
  font-weight: lighter

.block-services
  background-color: #f9f9f9
  width: 100%
  display: inline-block

.block-services-elem-txt
  float: right;
  width: 50%
  background-color: #f9f9f9

.block-services_elem-img
  width: 50%
  float:left
  height: 100%
  background: #f9f9f9
  display: inline-block

.block-services_elem-name
  font-size: 28pt
  display: inline-block
  padding-left: 41px
  padding-top: 47px
  padding-bottom: 64px
  font-weight: 600
  width: 100%

.block-services_elem-clmn1
  width: 208px
  padding-left: 57px
  display: inline-block
  padding-right: 43px
  font-size: 15pt
  font-weight: lighter

.block-services_elem-clmn2
  display: inline-block
  padding-left: 57px
  font-size: 15pt
  font-weight: lighter

ul
  list-style: none

footer
  height: 93px
  text-align: center
  width: 100%
  background: #eeeeee
  display: inline-block
  margin-top: -10px

.block-footer_elem-txt
  padding: 41px 74px 0 74px
  display: inline-block
