.wrapper
  min-height: 100%

.block-header
  background: url(/images/about-bg.png) 100% 100% no-repeat
  width: 100%
  background-size: cover
  height: 100vh

.block-down
  width: 100%
  text-align: center

.block-down_elem-iconDown
  width: 31px
  display: inline-block
  left: 50%
  position: absolute
  bottom: 55px

.block-about
  text-align: center

.block-about_elem-text
  background: #ffffff
  margin: auto 0
  display:inline-block
  color: #021725
  width: 769px
  padding: 166px 0
  font-size: 15pt
  font-weight: lighter

.block-services
  background-color: #f9f9f9
  width: 100%
  display: inline-block

.block-services-elem-txt
  float: right;
  width: 50%
  background-color: #f9f9f9

.block-services_elem-img
  width: 50%
  float:left
  height: 100%
  background: #f9f9f9
  display: inline-block

.block-services_elem-name
  font-size: 28pt
  display: inline-block
  padding-left: 41px
  padding-top: 47px
  padding-bottom: 64px
  font-weight: 600
  width: 100%

.block-services_elem-clmn1
  width: 208px
  padding-left: 57px
  display: inline-block
  padding-right: 43px
  font-size: 15pt
  font-weight: lighter

.block-services_elem-clmn2
  display: inline-block
  padding-left: 57px
  font-size: 15pt
  font-weight: lighter
