.block-menuHeader
  width: 100%

.block-logo
  padding: 16px 0 0 48px

.block-menu_elem-name
  color: #ffffff
  font-size: 12pt
  padding-top: 27px
  padding-right: 2px
  font: 'Open Sans', semibold
  float: right

.block-menu_elem-icon
  padding: 31px 49px 0 0
  height: 13px
  width: 19px
  float: right
