.wrapper-contact
  background: #ffffff

.contact-header
  background: url("/images/contact-bg.jpg") 0 0 no-repeat
  background-size: cover
  width: 100%
  height: 400px

.contact-menu
  width: 769px
  margin: 0 auto
  text-align: center

  &_name
    margin: 90px auto

    &_name1
      font-size: 10pt
      color: #d4af37
      font-weight: 600

    &_name1
      font-size: 38pt
      color: #021725
      font-weight: 600
      opacity: 0.6

  &_container
    width: auto

    &_cd1
      background: #d4af37
      height: 300px
      width: 300px
      display: inline-block
      float: left
      text-align: left

      &_txt
        color: #ffffff
        font-size: 17pt
        display: inline-block
        width: 185px
        margin: 11px 32px

      &_line
        border: 2px solid #ffffff
        color: #ffffff
        width: 32px
        margin: 32px

    &_img
      display: inline-block
      float: right

    &_cd2
      background: #000000
      height: 300px
      width: 300px
      display: inline-block
      float: right
      text-align: left
      margin-left: 5px

      &_txt
        color: #ffffff
        font-size: 15pt
        display: inline-block
        margin-left: 32px

    &_cd3
      background: #f9f9f9
      text-align: left
      display: inline-block
      float: left
      width: 60%
      height: 300px

      &_txt
        color: #3f3f3f
        font-size: 15pt
        display: inline-block
        padding: 47px

.contact-button
  background: #ffffff
  margin-top: 77px
  margin-bottom: 89px
