*
  margin: 0px
  padding: 0px

@font-face
  src: url(/font/opensans-light.ttf)
  src: url(/font/opensans-bold.ttf)

body
  font-family: 'Open Sans'
  font-size: 18pt/1.67
  color: #505d68
  height: 100%

ul
  list-style: none

.block-button
  border-radius: 0px
  border: 1px solid #000000
  padding: 23px 50px
  background: #ffffff

@import "header.styl"

@import "footer.styl"
