.block-indexHeader
  background: url(/images/index-bg.jpg) center center no-repeat
  width: 100%
  background-size: cover
  height: 100vh

.block-indexHeader_elem-name
  font-size: 60pt
  color: #ffffff
  font-weight: lighter

.block-indexHeader_elem-wrapperName
  display: inline-block
  width: 1064px
