.index-header
  background: url(/images/index-bg.jpg) center center no-repeat
  width: 100%
  background-size: cover
  height: 100vh

  &_wrapper-name
    display: table-header-group
    width: 1064px
    text-align: center
    vertical-align: middle

  &_name
    font-size: 60pt
    color: #ffffff
    font-weight: lighter
    display: inline-block

  &_img
    display: inline-block

.index-about
  margin: 80px auto
  text-align: center
  margin-bottom: 98px
  width: 769px

  &_name1
    font-size: 10pt
    font-weight: 600
    color: #d4af37

  &_name2
    font-size: 35pt
    font-weight: 600
    opacity: 0.6
    color: #021725

  &_txt
    font-size: 15pt
    font-weight: lighter
    color: #021725
    padding: 53px 0

  &_button
    width: 255px
    background: #ffffff
    font-size: 11pt
    font-weight: lighter

.index-do
  text-align: center
  width: 100%
  display: inline-block

  &_name
    opacity: 0.5
    padding-bottom: 90px

  &_img
    display: inline-block
    float: right

  &_img:nth-child(2n)
    padding: 1px 2px 1px

  &_nth-child(2n+1)
    padding: 1px 0px 1px 2px

  &_img:first-child
    padding-top: 90px

.index-who-we-are
  margin: 80px auto
  text-align: center
  margin-bottom: 98px
  width: 769px
  display: block

  &_info
    margin: 0px auto
    text-align: center
    margin-bottom: 98px
    width: 769px
    display: block
    float: left

    &_wrapper:nth-child(2)
      width: 244px

    &_wrapper
      display: block
      float: left
      width: 247px
      padding-left: 2px
      padding-right: 4px

      &_img
        display: block

      &_bio
        background: #f9f9f9
        display: block
        // height: 235px
        text-align: left

        &_name
          padding: 0px 18px
          font-size: 18pt
          font-weight: 600
          color: #021725
          opacity: 0.6

        &_txt
          padding: 28px 18px 38px
          color: #021725
          opacity: 0.9
          font-size: 10pt
          font-weight: lighter
          width: 200px

      &_bio>h4.index-about_name1
        padding: 21px 18px

.index-last-post
  width: 769px
  text-align: center
  margin: 0 auto

  &_wrapper>button.blog-info_button
    margin: 80px auto
    width: 239px
    font-size: 10pt
    font-weight: lighter
    display: inline-block

  &_wrapper
    padding-top: 50px
    text-align: center

    &_info>&_info_name
      padding-left: 40px

    &_info>&_info_txt
      padding: 22px 40px 10px
      width: 260px

    &_info>&_info_button
      margin: 56px 40px
      background: #f9f9f9
      width: 128px
      text-align: center
      padding: 15px 0
      font-size: 10pt
      font-weight: lighter

    &_info>&_info_name2
      background: none
      color: #021725
      font-size: 10pt
      padding: 44px 40px 10px
      opacity: 0.7

    &_img
      display: inline-block
      float: left
      width: 50%
      height: 390px

    &_info
      display: inline-block
      background:  #f9f9f9
      width: 50%
      float: right
      text-align: left
      height: 390px

.index-contact>.index-contact_name2
  padding-bottom: 54px

.index-contact
  width: 769px
  text-align: center
  margin: 0 auto

  &_name2
  padding-bottom: 55px

  &_img
    width: 100%
    display: block

  &_wrapper
    margin-bottom: 80px
    display: inline-block

    &_wrapper-contact
      width: 769px
      text-align: center
      margin: 0 auto 80px

      &_contact
        display: inline-block
        float: left
        height: 206px
        background: #f9f9f9
        width: 50%
        vertical-align: middle

      &_name
        color: #021725
        font-size: 10pt
        font-weight: 600
        padding-top: 55px
        padding-bottom: 50px
        opacity: 0.8

      &_txt
        color: #021725
        font-size: 14pt
        font-weight: lighter
        width: 210px
        display: inline-block
        opacity: 0.6
