doctype html
html
	head
		title Blog
		link(href='/css/app.css', rel='stylesheet')
	body
		div.wrapper-blog 
			div.blog-header
				include ./header.jade
			div.blog-menu
				div.blog-menu_clmn1
					img.blog-menu_clmn1_img(src="/images/blogInfo-img_1.jpg")
					h1.blog-menu_clmn1_name1 This is the Titleof Your Post
					h4.blog-menu_clmn1_name2 14 September 2014
					p.blog-menu_clmn1_txt This looks. I want to complexity. That's come to testify to complexity. It's about an object, we kept going and i figured out some basic stuff that acknowledges its very minimalist way beyond the traditions of function from a clutterfree product that form and value on ideas and simplicity. What products have disconnected function of anything of the computer.
					form.blog-menu_clmn1_form
						button.blog-menu_clmn1_form_button Read More

					img.blog-menu_clmn1_img(src="/images/blogInfo-img_2.jpg")
					h1.blog-menu_clmn1_name1 This is the Titleof Your Post
					h4.blog-menu_clmn1_name2 14 September 2014
					p.blog-menu_clmn1_txt This looks. I want to complexity. That's come to testify to complexity. It's about an object, we kept going and i figured out some basic stuff that acknowledges its very minimalist way beyond the traditions of function from a clutterfree product that form and value on ideas and simplicity. What products have disconnected function of anything of the computer.
					form.blog-menu_clmn1_form
						button.blog-menu_clmn1_form_button Read More
				div.blog-menu_clmn2
					h2.blog-menu_clmn2_name Recent Posts
					p.blog-menu_clmn2_txt This is the Title of Your Post
					p.blog-menu_clmn2_txt This is the Title of Your Post
					p.blog-menu_clmn2_txt This is the Title of Your Post
					p.blog-menu_clmn2_txt This is the Title of Your Post
					h2.blog-menu_clmn2_name Categories
					p.blog-menu_clmn2_txt Art
					p.blog-menu_clmn2_txt Business
					p.blog-menu_clmn2_txt Desing
					p.blog-menu_clmn2_txt Code
					h2.blog-menu_clmn2_name Projects
					img.blog-menu_clmn2_img(src="/images/cd-container-clmn-2.jpg")
					img.blog-menu_clmn2_img(src="/images/cd-container-clmn-3.jpg")
					img.blog-menu_clmn2_img(src="/images/cd-container-clmn-4.jpg")
					img.blog-menu_clmn2_img(src="/images/cd-container-clmn-5.jpg")
				div.wrapper-button
					button.blog-menu_button.blog-button.block-button Load More Posts
		include ./footer.jade
