doctype html
html
	head
		title Blog
		link(href='/css/app.css', rel='stylesheet')
	body
		div.wrapperBlog 
			div.block-blogHeader
				include ./block-menuHeader.jade
			div.block-blogMenu
				div.block-blogClmn_1
					img.block-blogInfo_elem-img(src="/images/blogInfo-img_1.jpg")
					h1.block-blogInfo_elem-name_1 This is the Titleof Your Post
					h4.block-blogInfo_elem-name_2 14 September 2014
					p.block-blogInfo_elem-txt This looks. I want to complexity. That's come to testify to complexity. It's about an object, we kept going and i figured out some basic stuff that acknowledges its very minimalist way beyond the traditions of function from a clutterfree product that form and value on ideas and simplicity. What products have disconnected function of anything of the computer.
					form.block-blogInfo_elem-form
						button.block-blogInfo_elem-button Read More
					img.block-blogInfo_elem-img(src="/images/blogInfo-img_2.jpg")

					h1.block-blogInfo_elem-name_1 This is the Titleof Your Post
					h4.block-blogInfo_elem-name_2 14 September 2014
					p.block-blogInfo_elem-txt This looks. I want to complexity. That's come to testify to complexity. It's about an object, we kept going and i figured out some basic stuff that acknowledges its very minimalist way beyond the traditions of function from a clutterfree product that form and value on ideas and simplicity. What products have disconnected function of anything of the computer.
					form.block-blogInfo_elem-form
						button.block-blogInfo_elem-button Read More
				div.block-blogClmn_2
					h2.block-blogClmn_2-elem-name Recent Posts
					p.block-blogClmn_2-elem-txt This is the Title of Your Post
					p.block-blogClmn_2-elem-txt This is the Title of Your Post
					p.block-blogClmn_2-elem-txt This is the Title of Your Post
					p.block-blogClmn_2-elem-txt This is the Title of Your Post
					h2.block-blogClmn_2-elem-name Categories
					p.block-blogClmn_2-elem-txt Art
					p.block-blogClmn_2-elem-txt Business
					p.block-blogClmn_2-elem-txt Desing
					p.block-blogClmn_2-elem-txt Code
					h2.block-blogClmn_2-elem-name Projects
					img.block-blogClmn_2-elem-img(src="/images/cd-container-clmn-2.jpg")
					img.block-blogClmn_2-elem-img(src="/images/cd-container-clmn-3.jpg")
					img.block-blogClmn_2-elem-img(src="/images/cd-container-clmn-4.jpg")
					img.block-blogClmn_2-elem-img(src="/images/cd-container-clmn-5.jpg")
				div.wrapperBotton
					button.block-blogInfo_elem-button.block-blogButton Load More Posts
		include ./footer.jade
