doctype html
html
	head
		title Contact
		link(href='/css/app.css', rel='stylesheet')
	body
		div.wrapperContact
			div.block-contactHeader
				include ./block-menuHeader.jade
			div.block-contactMenu    
				div.block-contactMenu_elem-name
					h4.block-contactMenu_elem-name1 THIS IS IT!
					h1.block-contactMenu_elem-name2 Contact Us
				div.block-contactMenu_elem-container
					div.block-contactMenu_elem-cd1
						p.block-contactMenu_elem-cd1_elem-txt Rua Serpa Pinto, Lisbon, Portugal            
		include ./footer.jade
