doctype html
html
	head
		title Contact
		link(href='/css/app.css', rel='stylesheet')
	body
		div.wrapper-contact
			div.contact-header
				include ./header.jade
			div.contact-menu    
				div.contact-menu_name
					h4.contact-menu_name_name1 THIS IS IT!
					h1.contact-menu_name_name2 Contact Us
				div.contact-menu_container
					div.contact-menu_container_cd1
						hr.contact-menu_container_cd1_line
						p.contact-menu_container_cd1_txt Rua Serpa Pinto, Lisbon, Portugal     
					img.contact-menu_container_img(src="/images/contact_img_1.jpg") 
					div.contact-menu_container_cd3
						p.contact-menu_container_cd3_txt Good design as little design as possible. Good design is to chance. My goal is making something memorable and especially the consumer. Good design is aesthetic. Care and aesthetic. Good design emphasises the consumer. It does not only functional.      
					div.contact-menu_container_cd2
						hr.contact-menu_container_cd2_line
						p.contact-menu_container_cd2_txt +88 (0) 101 0000 000
						p.contact-menu_container_cd2_txt +88 (0) 101 0000 000
				button.block-blogInfo_elem-button.blog-button.contact-button.block-button Shote us an Email
		include ./footer.jade
