doctype html
html
	head
		title Index
		link(href='/css/app.css', rel='stylesheet')
	body
		div.wrapperIndex
			div.block-indexHeader
				include ./block-menuHeader.jade
				div.block-indexHeader_elem-wrapperName
					h1.block-indexHeader_elem-name Say Haloa to your Portfolio
		include ./footer.jade
