doctype html
html
	head
		title Index
		link(href='/css/app.css', rel='stylesheet')
	body
		div.wrapperIndex
			div.block-indexHeader
				include ./block-menuHeader.jade
				div.block-indexHeader_elem-wrapperName
					h1.block-indexHeader_elem-name Say <i>Haloa</i> to your Portfolio
					img.block-indexHeader_elem-img(src="/images/index-bg-img.png")
			div.block-indexAbout
				h4.block-indexAbout_elem-name1 WHO WE ARE
				h1.block-indexAbout_elem-name2 Tell The World About Yourself
				p.block-indexAbout_elem-txt Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc, fiant sollemnes in futurum.
				button.block-blogInfo_elem-button.block-blogButton.block-indexAbout_elem-button Read More About Us
			div.block-indexDo
				h4.block-indexAbout_elem-name1 WHAT WE DO
				h1.block-indexAbout_elem-name2.block-indexDo_elem-name Show Your Amazing Work
				img.block-indexDo_elem-img(src="/images/indexDo-img_4.jpg")
				img.block-indexDo_elem-img(src="/images/indexDo-img_3.jpg")
				img.block-indexDo_elem-img(src="/images/indexDo-img_2.jpg")
				img.block-indexDo_elem-img(src="/images/indexDo-img_1.jpg")
				img.block-indexDo_elem-img(src="/images/indexDo-img_8.jpg")
				img.block-indexDo_elem-img(src="/images/indexDo-img_7.jpg")
				img.block-indexDo_elem-img(src="/images/indexDo-img_6.jpg")
				img.block-indexDo_elem-img(src="/images/indexDo-img_5.jpg")
			div.block-indexWhoWeAre
				h4.block-indexAbout_elem-name1 WHO WE ARE
				h1.block-indexAbout_elem-name2 The Amazing People Behind This
				p.block-indexAbout_elem-txt Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
				div.block-info
					div.block-info_elem-wrapperInfo
						img.block-info_elem-img(src="/images/indexWhoWeAre-img_1.jpg")
						div.block-info_elem-bio
							h4.block-indexAbout_elem-name1 CEO
							h2.block-info_elem-name Tobias Schneider
							p.block-info_elem-txt Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
					div.block-info_elem-wrapperInfo
						img.block-info_elem-img(src="/images/indexWhoWeAre-img_2.jpg")
						div.block-info_elem-bio
							h4.block-indexAbout_elem-name1 DESINGER
							h2.block-info_elem-name Jack Knife
							p.block-info_elem-txt Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
					div.block-info_elem-wrapperInfo
						img.block-info_elem-img(src="/images/indexWhoWeAre-img_3.jpg")
						div.block-info_elem-bio
							h4.block-indexAbout_elem-name1 DEVELOPER
							h2.block-info_elem-name Ricki Hall
							p.block-info_elem-txt Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.

		include ./footer.jade
