doctype html
html
	head
		title Index
		link(href='/css/app.css', rel='stylesheet')
	body
		div.wrapper-index
			div.index-header
				include ./header.jade
				div.index-header_wrapper-name
					h1.index-header_name Say <i>Haloa</i> to your Portfolio
					img.index-header_img(src="/images/index-bg-img.png")
			div.index-about
				h4.index-about_name1 WHO WE ARE
				h1.index-about_name2 Tell The World About Yourself
				p.index-about_txt Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc, fiant sollemnes in futurum.
				button.block-blogInfo_elem-button.block-blogButton.index-about_button Read More About Us
			div.index-do
				h4.index-about_name1 WHAT WE DO
				h1.index-about_name2.index-do_name Show Your Amazing Work
				img.index-do_img(src="/images/indexDo-img_4.jpg")
				img.index-do_img(src="/images/indexDo-img_3.jpg")
				img.index-do_img(src="/images/indexDo-img_2.jpg")
				img.index-do_img(src="/images/indexDo-img_1.jpg")
				img.index-do_img(src="/images/indexDo-img_8.jpg")
				img.index-do_img(src="/images/indexDo-img_7.jpg")
				img.index-do_img(src="/images/indexDo-img_6.jpg")
				img.index-do_img(src="/images/indexDo-img_5.jpg")
			div.index-who-we-are
				h4.index-about_name1 WHO WE ARE
				h1.index-about_name2 The Amazing People Behind This
				p.index-about_txt Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
				div.index-who-we-are_info
					div.index-who-we-are_info_wrapper
						img.index-who-we-are_info_wrapper_img(src="/images/indexWhoWeAre-img_1.jpg")
						div.index-who-we-are_info_wrapper_bio
							h4.index-about_name1 CEO
							h2.index-who-we-are_info_bio_wrapper_name Tobias Schneider
							p.index-who-we-are_info_bio_wrapper_txt Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
					div.index-who-we-are_info_wrapper
						img.index-who-we-are_info_wrapper_img(src="/images/indexWhoWeAre-img_2.jpg")
						div.index-who-we-are_info_wrapper_bio
							h4.index-about_name1 DESINGER
							h2.index-who-we-are_info_bio_wrapper_name Jack Knife
							p.index-who-we-are_info_bio_wrapper_txt  Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
					div.index-who-we-are_info_wrapper
						img.index-who-we-are_info_wrapper_img(src="/images/indexWhoWeAre-img_3.jpg")
						div.index-who-we-are_info_wrapper_bio
							h4.index-about_name1 DEVELOPER
							h2.index-who-we-are_info_bio_wrapper_name  Ricki Hall
							p.index-who-we-are_info_bio_wrapper_txt  Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
			div.index-last-post
				h4.index-about_name1 LAST POST
				h1.index-about_name2 We Like to Write 
				div.index-last-post_wrapper
					img.index-last-post_wrapper_img(src="/images/indexLastPost_img.jpg")
					div.index-last-post_wrapper_info
						h4.blog-info_name2 14 September 2014
						h2.index-last-post_wrapper_info_name Change Your Space
						p.index-last-post_wrapper_info_txt Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores.
						button.blog-info_button Read
					button.blog-info_button More From Our Blog
			div.index-contact
				h4.index-about_name1 CONTACT US
				h1.index-about_name2 Work With Us
				div.index-contact_wrapper
					img.index-contact_wrapper_img(src="/images/index-img-maps.jpg")
					div.index-contact_wrapper_wrapper-contact
						div.index-contact_wrapper_wrapper-contact_contact
							h4.index-contact_wrapper_wrapper-contact_name LOCATION
							p.index-contact_wrapper_wrapper-contact_txt 198 West 21th Street, New York, NY 10010			
						div.index-contact_wrapper_wrapper-contact_contact
							h4.index-contact_wrapper_wrapper-contact_name PHONE
							p.index-contact_wrapper_wrapper-contact_txt  +88 (0) 101 0000 000 +88 (0) 101 0000 000
						div.index-contact_wrapper_wrapper-contact_contact
							h4.index-contact_wrapper_wrapper-contact_name FAX
							p.index-contact_wrapper_wrapper-contact_txt  +88 (0) 202 0000 000 +88 (0) 202 0000 000
						div.index-contact_wrapper_wrapper-contact_contact
							h4.index-contact_wrapper_wrapper-contact_name EMAIL
							p.index-contact_wrapper_wrapper-contact_txt  elegant@elegant.com commercial@elegant.com
		include ./footer.jade
