.wrapper {
  min-height: 100%;
}
.block-header {
  background: url("/images/about-bg.png") 100% 100% no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vh;
}
.block-down {
  width: 100%;
  text-align: center;
}
.block-down_elem-iconDown {
  width: 31px;
  display: inline-block;
  left: 50%;
  position: absolute;
  bottom: 55px;
}
.block-about {
  text-align: center;
}
.block-about_elem-text {
  background: #fff;
  margin: auto 0;
  display: inline-block;
  color: #021725;
  width: 769px;
  padding: 166px 0;
  font-size: 15pt;
  font-weight: lighter;
}
.block-services {
  background-color: #f9f9f9;
  width: 100%;
  display: inline-block;
}
.block-services-elem-txt {
  float: right;
  width: 50%;
  background-color: #f9f9f9;
}
.block-services_elem-img {
  width: 50%;
  float: left;
  height: 100%;
  background: #f9f9f9;
  display: inline-block;
}
.block-services_elem-name {
  font-size: 28pt;
  display: inline-block;
  padding-left: 41px;
  padding-top: 47px;
  padding-bottom: 64px;
  font-weight: 600;
  width: 100%;
}
.block-services_elem-clmn1 {
  width: 208px;
  padding-left: 57px;
  display: inline-block;
  padding-right: 43px;
  font-size: 15pt;
  font-weight: lighter;
}
.block-services_elem-clmn2 {
  display: inline-block;
  padding-left: 57px;
  font-size: 15pt;
  font-weight: lighter;
}

.wrapperBlog {
  background: #fff;
}
.block-blogHeader {
  background: url("/images/blog-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 398px;
}
.block-blogMenu {
  margin: 80px auto;
  background: #f9f9f9;
  width: 1153px;
  overflow: hidden;
}
.block-blogClmn_1 {
  padding: 62px;
  display: inline-block;
  float: left;
}
.block-blogInfo_elem-img {
  width: 607px;
  padding: 34px;
  background: #fff;
  display: block;
}
.block-blogInfo_elem-name_1 {
  font-size: 27pt;
  color: #000;
  font-weight: lighter;
  padding: 30px 33px;
  background: #fff;
}
.block-blogInfo_elem-name_2 {
  color: #d3b000;
  background: #fff;
  font-weight: lighter;
  font-size: 12pt;
  padding-left: 33px;
}
.block-blogInfo_elem-txt {
  color: #021725;
  background: #fff;
  padding: 34px 30px 74px;
  width: 614px;
}
.block-blogInfo_elem-form {
  padding-left: 34px;
  background: #fff;
  padding-bottom: 32px;
}
.block-blogInfo_elem-button {
  border-radius: 0;
  padding: 19px 56px;
  background: #fff;
  color: #000;
  font-size: 11pt;
  font-weight: lighter;
  border: 1px solid #000;
  width: 194px;
}
.block-blogClmn_2 {
  width: 25%;
  padding: 60px;
  float: right;
  padding-left: 0;
}
.block-blogClmn_2-elem-name {
  font-size: 19pt;
  font-weight: lighter;
  color: #021725;
  display: inline-block;
  border-bottom: 3px solid #d3b000;
  width: 300px;
  padding-bottom: 20px;
  padding-top: 61px;
  margin-bottom: 42px;
}
.block-blogClmn_2-elem-name:first-child {
  padding-top: 0;
}
.block-blogClmn_2-elem-txt {
  font-size: 13pt;
  font-weight: lighter;
  color: #021725;
  font-style: italic;
}
.block-blogMenu_elem-button {
  text-align: center;
  display: block;
}
.wrapperBotton {
  width: 100%;
/* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
/* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
/* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.block-blogButton {
  background: #f9f9f9;
  width: 239px;
  margin-bottom: 65px;
}

.wrapperContact {
  background: #fff;
}
.block-contactHeader {
  background: url("/images/contact-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
.block-contactMenu {
  width: 769px;
  margin: 0 auto;
  text-align: center;
}
.block-contactMenu_elem-name {
  margin: 90px auto;
}
.block-contactMenu_elem-name1 {
  font-size: 10pt;
  color: #d4af37;
  font-weight: 600;
}
.block-contactMenu_elem-name2 {
  font-size: 38pt;
  color: #021725;
  font-weight: 600;
  opacity: 0.6;
}
.block-contactMenu_elem-container {
  width: auto;
}
.block-contactMenu_elem-cd1 {
  background: #d4af37;
  height: 300px;
  width: 300px;
  display: inline-block;
  float: left;
  text-align: left;
}
.block-contactMenu_elem-cd1_elem-txt {
  color: #fff;
  font-size: 17pt;
  display: inline-block;
  width: 185px;
  margin: 11px 32px;
}
.block-contactMenu_elem-line {
  border: 2px solid #fff;
  color: #fff;
  width: 32px;
  margin: 32px;
}
.block-contactMenu_elem-img {
  display: inline-block;
  float: right;
}
.block-contactMenu_elem-cd2 {
  background: #000;
  height: 300px;
  width: 300px;
  display: inline-block;
  float: right;
  text-align: left;
  margin-left: 5px;
}
.block-contactMenu_elem-cd2_elem-txt {
  color: #fff;
  font-size: 15pt;
  display: inline-block;
  margin-left: 32px;
}
.block-contactMenu_elem-cd3 {
  background: #f9f9f9;
  text-align: left;
  display: inline-block;
  float: left;
  width: 60%;
  height: 300px;
}
.block-contactMenu_elem-cd3_elem-txt {
  color: #3f3f3f;
  font-size: 15pt;
  display: inline-block;
  padding: 47px;
}
.block-contactButton {
  background: #fff;
  margin-top: 77px;
  margin-bottom: 89px;
}

footer {
  height: 93px;
  text-align: center;
  width: 100%;
  background: #eee;
  display: inline-block;
  margin-top: -10px;
}
.footer__txt {
  padding: 41px 74px 0;
  display: inline-block;
}
@media screen and (max-width: 890px) and (max-height: 1336px) {
  footer {
    height: auto;
  }
  .footer__txt:nth-child(2) {
    padding: 10px 74px 41px;
    display: inline-block;
  }
}

.header {
  width: 100%;
}
.header__logo {
  padding: 16px 0 0 48px;
}
.header__name {
  color: #fff;
  font-size: 12pt;
  padding-top: 27px;
  padding-right: 2px;
  font: 'Open Sans', semibold;
  float: right;
}
.header__icon {
  padding: 31px 49px 0 0;
  height: 13px;
  width: 19px;
  float: right;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Open Sans';
  font-size: 18pt/1.67;
  color: #505d68;
  height: 100%;
}
ul {
  list-style: none;
}
.header {
  width: 100%;
}
.header__logo {
  padding: 16px 0 0 48px;
}
.header__name {
  color: #fff;
  font-size: 12pt;
  padding-top: 27px;
  padding-right: 2px;
  font: 'Open Sans', semibold;
  float: right;
}
.header__icon {
  padding: 31px 49px 0 0;
  height: 13px;
  width: 19px;
  float: right;
}
footer {
  height: 93px;
  text-align: center;
  width: 100%;
  background: #eee;
  display: inline-block;
  margin-top: -10px;
}
.footer__txt {
  padding: 41px 74px 0;
  display: inline-block;
}
@media screen and (max-width: 890px) and (max-height: 1336px) {
  footer {
    height: auto;
  }
  .footer__txt:nth-child(2) {
    padding: 10px 74px 41px;
    display: inline-block;
  }
}

.block-indexHeader {
  background: url("/images/index-bg.jpg") center center no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vh;
}
.block-indexHeader_elem-wrapperName {
  display: table-header-group;
  width: 1064px;
  text-align: center;
  vertical-align: middle;
}
.block-indexHeader_elem-name {
  font-size: 60pt;
  color: #fff;
  font-weight: lighter;
  display: inline-block;
}
.block-indexHeader_elem-img {
  display: inline-block;
}
.block-indexAbout {
  margin: 80px auto;
  text-align: center;
  margin-bottom: 98px;
  width: 769px;
}
.block-indexAbout_elem-name1 {
  font-size: 10pt;
  font-weight: 600;
  color: #d4af37;
}
.block-indexAbout_elem-name2 {
  font-size: 35pt;
  font-weight: 600;
  opacity: 0.6;
  color: #021725;
}
.block-indexAbout_elem-txt {
  font-size: 15pt;
  font-weight: lighter;
  color: #021725;
  padding: 53px 0;
}
.block-indexAbout_elem-button {
  width: 255px;
  background: #fff;
  font-size: 11pt;
  font-weight: lighter;
}
.block-indexDo {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.block-indexDo_elem-name {
  opacity: 0.5;
  padding-bottom: 90px;
}
.block-indexDo_elem-img {
  display: inline-block;
  float: right;
}
.block-indexDo_elem-img:nth-child(2n) {
  padding: 1px 2px 1px;
}
.block-indexDo_elem-img:nth-child(2n+1) {
  padding: 1px 0px 1px 2px;
}
.block-indexDo_elem-img:first-child {
  padding-top: 90px;
}
.block-indexWhoWeAre {
  margin: 80px auto;
  text-align: center;
  margin-bottom: 98px;
  width: 769px;
  display: block;
}
.block-info {
  margin: 0px auto;
  text-align: center;
  margin-bottom: 98px;
  width: 769px;
  display: block;
  float: left;
}
.block-info_elem-wrapperInfo {
  display: block;
  float: left;
  width: 247px;
  padding-left: 2px;
  padding-right: 4px;
}
.block-info_elem-wrapperInfo:nth-child(2) {
  width: 244px;
}
.block-info_elem-img {
  display: block;
}
.block-info_elem-bio {
  background: #f9f9f9;
  display: block;
  text-align: left;
}
div.block-info_elem-bio>h4.block-indexAbout_elem-name1 {
  padding: 21px 18px;
}
.block-info_elem-name {
  padding: 0px 18px;
  font-size: 18pt;
  font-weight: 600;
  color: #021725;
  opacity: 0.6;
}
.block-info_elem-txt {
  padding: 28px 18px 38px;
  color: #021725;
  opacity: 0.9;
  font-size: 10pt;
  font-weight: lighter;
  width: 200px;
}
.block-indexLastPost {
  width: 769px;
  text-align: center;
  margin: 0 auto;
}
.block-indexLastPost_elem-wrapper {
  padding-top: 50px;
  text-align: center;
}
.block-indexLastPost_elem-img {
  display: inline-block;
  float: left;
  width: 50%;
  height: 390px;
}
.block-wrapper_elem-info {
  display: inline-block;
  background: #f9f9f9;
  width: 50%;
  float: right;
  text-align: left;
  height: 390px;
}
div.block-wrapper_elem-info>h4.block-blogInfo_elem-name_2 {
  background: none;
  color: #021725;
  font-size: 10pt;
  padding: 44px 40px 10px;
}
div.block-wrapper_elem-info>.block-info_elem-name {
  padding-left: 40px;
}
div.block-wrapper_elem-info>.block-info_elem-txt {
  padding: 22px 40px 10px;
  width: 260px;
}
div.block-wrapper_elem-info>button.block-blogInfo_elem-button {
  margin: 56px 40px;
  background: #f9f9f9;
  width: 128px;
  text-align: center;
  padding: 15px 0;
  font-size: 10pt;
  font-weight: lighter;
}
div.block-indexLastPost_elem-wrapper>button.block-blogInfo_elem-button {
  margin: 80px auto;
  width: 239px;
  font-size: 10pt;
  font-weight: lighter;
  display: inline-block;
}
.block-indexContact {
  width: 769px;
  text-align: center;
  margin: 0 auto;
}
div.block-indexContact>h1.block-indexAbout_elem-name2 {
  padding-bottom: 54px;
}
.block-indexContact_elem-img {
  width: 100%;
  display: block;
}
.block-indexContact_elem-wrapper {
  margin-bottom: 80px;
  display: inline-block;
}
.block-indexContact_elem-wrapperContact {
  width: 769px;
  text-align: center;
  margin: 0 auto 80px;
}
.block-indexContact_elem-contact {
  display: inline-block;
  float: left;
  height: 206px;
  background: #f9f9f9;
  width: 50%;
  vertical-align: middle;
}
.block-indexContact_elem-name {
  color: #021725;
  font-size: 10pt;
  font-weight: 600;
  padding-top: 55px;
  padding-bottom: 50px;
  opacity: 0.8;
}
.block-indexContact_elem-txt {
  color: #021725;
  font-size: 14pt;
  font-weight: lighter;
  width: 210px;
  display: inline-block;
  opacity: 0.6;
}
