.about-wrapper {
  min-height: 100%;
}
.about-header {
  background: url("/images/about-bg.jpg") 100% 100% no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vh;
}
.about-header_menu_down {
  width: 100%;
  text-align: center;
}
.about-header_menu_icon-down {
  width: 31px;
  display: inline-block;
  left: 50%;
  position: absolute;
  bottom: 55px;
}
.block-about {
  text-align: center;
}
.block-about_text {
  background: #fff;
  margin: auto 0;
  display: inline-block;
  color: #021725;
  width: 769px;
  padding: 166px 0;
  font-size: 15pt;
  font-weight: lighter;
}
.about-services {
  background-color: #f9f9f9;
  width: 100%;
  display: inline-block;
}
.about-services_img {
  width: 50%;
  float: left;
  height: 100%;
  background: #f9f9f9;
  display: inline-block;
}
.about-services_txt {
  float: right;
  width: 50%;
  background-color: #f9f9f9;
}
.about-services_txt_name {
  font-size: 28pt;
  display: inline-block;
  padding-left: 41px;
  padding-top: 47px;
  padding-bottom: 64px;
  font-weight: 600;
  width: 100%;
}
.about-services_txt_clmn1 {
  width: 208px;
  padding-left: 57px;
  display: inline-block;
  padding-right: 43px;
  font-size: 15pt;
  font-weight: lighter;
}
.about-services_txt_clmn2 {
  display: inline-block;
  padding-left: 57px;
  font-size: 15pt;
  font-weight: lighter;
}

.wrapper-blog {
  background: #fff;
}
.blog-header {
  background: url("/images/blog-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 398px;
}
.blog-menu {
  margin: 80px auto;
  background: #f9f9f9;
  width: 1153px;
  overflow: hidden;
}
.blog-menu_clmn1 {
  padding: 62px;
  display: inline-block;
  float: left;
}
.blog-menu_clmn1_img {
  width: 607px;
  padding: 34px;
  background: #fff;
  display: block;
}
.blog-menu_clmn1_name1 {
  font-size: 27pt;
  color: #000;
  font-weight: lighter;
  padding: 30px 33px;
  background: #fff;
}
.blog-menu_clmn1_name2 {
  color: #d3b000;
  background: #fff;
  font-weight: lighter;
  font-size: 12pt;
  padding-left: 33px;
}
.blog-menu_clmn1_txt {
  color: #021725;
  background: #fff;
  padding: 34px 30px 74px;
  width: 614px;
}
.blog-menu_clmn1_form {
  padding-left: 34px;
  background: #fff;
  padding-bottom: 32px;
}
.blog-menu_clmn1_form_button {
  border-radius: 0;
  padding: 19px 56px;
  background: #fff;
  color: #000;
  font-size: 11pt;
  font-weight: lighter;
  border: 1px solid #000;
  width: 194px;
}
.blog-menu_clmn2 {
  width: 25%;
  padding: 60px;
  float: right;
  padding-left: 0;
}
.blog-menu_clmn2_name {
  font-size: 19pt;
  font-weight: lighter;
  color: #021725;
  display: inline-block;
  border-bottom: 3px solid #d3b000;
  width: 300px;
  padding-bottom: 20px;
  padding-top: 61px;
  margin-bottom: 42px;
}
.blog-menu_clmn2_name:first-child {
  padding-top: 0;
}
.blog-menu_clmn2_txt {
  font-size: 13pt;
  font-weight: lighter;
  color: #021725;
  font-style: italic;
}
.blog-menu_button {
  text-align: center;
  display: block;
}
.wrapper-button {
  width: 100%;
/* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
/* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
/* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.blog-button {
  background: #f9f9f9;
  width: 239px;
  margin-bottom: 65px;
  font-size: 11pt;
}

.wrapper-contact {
  background: #fff;
}
.contact-header {
  background: url("/images/contact-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
.contact-menu {
  width: 769px;
  margin: 0 auto;
  text-align: center;
}
.contact-menu_name {
  margin: 90px auto;
}
.contact-menu_name_name1 {
  font-size: 10pt;
  color: #d4af37;
  font-weight: 600;
}
.contact-menu_name_name1 {
  font-size: 38pt;
  color: #021725;
  font-weight: 600;
  opacity: 0.6;
}
.contact-menu_container {
  width: auto;
}
.contact-menu_container_cd1 {
  background: #d4af37;
  height: 300px;
  width: 300px;
  display: inline-block;
  float: left;
  text-align: left;
}
.contact-menu_container_cd1_txt {
  color: #fff;
  font-size: 17pt;
  display: inline-block;
  width: 185px;
  margin: 11px 32px;
}
.contact-menu_container_cd1_line {
  border: 2px solid #fff;
  color: #fff;
  width: 32px;
  margin: 32px;
}
.contact-menu_container_img {
  display: inline-block;
  float: right;
}
.contact-menu_container_cd2 {
  background: #000;
  height: 300px;
  width: 300px;
  display: inline-block;
  float: right;
  text-align: left;
  margin-left: 5px;
}
.contact-menu_container_cd2_txt {
  color: #fff;
  font-size: 15pt;
  display: inline-block;
  margin-left: 32px;
}
.contact-menu_container_cd3 {
  background: #f9f9f9;
  text-align: left;
  display: inline-block;
  float: left;
  width: 60%;
  height: 300px;
}
.contact-menu_container_cd3_txt {
  color: #3f3f3f;
  font-size: 15pt;
  display: inline-block;
  padding: 47px;
}
.contact-button {
  background: #fff;
  margin-top: 77px;
  margin-bottom: 89px;
}

footer {
  height: 93px;
  text-align: center;
  width: 100%;
  background: #eee;
  display: inline-block;
  margin-top: -10px;
}
.footer__txt {
  padding: 41px 74px 0;
  display: inline-block;
}
@media screen and (max-width: 890px) and (max-height: 1336px) {
  footer {
    height: auto;
  }
  .footer__txt:nth-child(2) {
    padding: 10px 74px 41px;
    display: inline-block;
  }
}

.header {
  width: 100%;
}
.header__logo {
  padding: 16px 0 0 48px;
}
.header__name {
  color: #fff;
  font-size: 12pt;
  padding-top: 27px;
  padding-right: 2px;
  font: 'Open Sans', semibold;
  float: right;
}
.header__icon {
  padding: 31px 49px 0 0;
  height: 13px;
  width: 19px;
  float: right;
}

* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  src: url("/font/opensans-light.ttf");
  src: url("/font/opensans-bold.ttf");
}
body {
  font-family: 'Open Sans';
  font-size: 18pt/1.67;
  color: #505d68;
  height: 100%;
}
ul {
  list-style: none;
}
.block-button {
  border-radius: 0px;
  border: 1px solid #000;
  padding: 23px 50px;
  background: #fff;
}
.header {
  width: 100%;
}
.header__logo {
  padding: 16px 0 0 48px;
}
.header__name {
  color: #fff;
  font-size: 12pt;
  padding-top: 27px;
  padding-right: 2px;
  font: 'Open Sans', semibold;
  float: right;
}
.header__icon {
  padding: 31px 49px 0 0;
  height: 13px;
  width: 19px;
  float: right;
}
footer {
  height: 93px;
  text-align: center;
  width: 100%;
  background: #eee;
  display: inline-block;
  margin-top: -10px;
}
.footer__txt {
  padding: 41px 74px 0;
  display: inline-block;
}
@media screen and (max-width: 890px) and (max-height: 1336px) {
  footer {
    height: auto;
  }
  .footer__txt:nth-child(2) {
    padding: 10px 74px 41px;
    display: inline-block;
  }
}

.index-header {
  background: url("/images/index-bg.jpg") center center no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vh;
}
.index-header_wrapper-name {
  display: table-header-group;
  width: 1064px;
  text-align: center;
  vertical-align: middle;
}
.index-header_name {
  font-size: 60pt;
  color: #fff;
  font-weight: lighter;
  display: inline-block;
}
.index-header_img {
  display: inline-block;
}
.index-about {
  margin: 80px auto;
  text-align: center;
  margin-bottom: 98px;
  width: 769px;
}
.index-about_name1 {
  font-size: 10pt;
  font-weight: 600;
  color: #d4af37;
}
.index-about_name2 {
  font-size: 35pt;
  font-weight: 600;
  opacity: 0.6;
  color: #021725;
}
.index-about_txt {
  font-size: 15pt;
  font-weight: lighter;
  color: #021725;
  padding: 53px 0;
}
.index-about_button {
  width: 255px;
  background: #fff;
  font-size: 11pt;
  font-weight: lighter;
}
.index-do {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.index-do_name {
  opacity: 0.5;
  padding-bottom: 90px;
}
.index-do_img {
  display: inline-block;
  float: right;
}
.index-do_img:nth-child(2n) {
  padding: 1px 2px 1px;
}
.index-do_nth-child(2n+1) {
  padding: 1px 0px 1px 2px;
}
.index-do_img:first-child {
  padding-top: 90px;
}
.index-who-we-are {
  margin: 80px auto;
  text-align: center;
  margin-bottom: 98px;
  width: 769px;
  display: block;
}
.index-who-we-are_info {
  margin: 0px auto;
  text-align: center;
  margin-bottom: 98px;
  width: 769px;
  display: block;
  float: left;
}
.index-who-we-are_info_wrapper:nth-child(2) {
  width: 244px;
}
.index-who-we-are_info_wrapper {
  display: block;
  float: left;
  width: 247px;
  padding-left: 2px;
  padding-right: 4px;
}
.index-who-we-are_info_wrapper_img {
  display: block;
}
.index-who-we-are_info_wrapper_bio {
  background: #f9f9f9;
  display: block;
  text-align: left;
}
.index-who-we-are_info_wrapper_bio_name {
  padding: 0px 18px;
  font-size: 18pt;
  font-weight: 600;
  color: #021725;
  opacity: 0.6;
}
.index-who-we-are_info_wrapper_bio_txt {
  padding: 28px 18px 38px;
  color: #021725;
  opacity: 0.9;
  font-size: 10pt;
  font-weight: lighter;
  width: 200px;
}
.index-who-we-are_info_wrapper_bio>h4.index-about_name1 {
  padding: 21px 18px;
}
.index-last-post {
  width: 769px;
  text-align: center;
  margin: 0 auto;
}
.index-last-post_wrapper>button.blog-info_button {
  margin: 80px auto;
  width: 239px;
  font-size: 10pt;
  font-weight: lighter;
  display: inline-block;
}
.index-last-post_wrapper {
  padding-top: 50px;
  text-align: center;
}
.index-last-post_wrapper_info>.index-last-post_wrapper_info_name {
  padding-left: 40px;
}
.index-last-post_wrapper_info>.index-last-post_wrapper_info_txt {
  padding: 22px 40px 10px;
  width: 260px;
}
.index-last-post_wrapper_info>.index-last-post_wrapper_info_button {
  margin: 56px 40px;
  background: #f9f9f9;
  width: 128px;
  text-align: center;
  padding: 15px 0;
  font-size: 10pt;
  font-weight: lighter;
}
.index-last-post_wrapper_info>.index-last-post_wrapper_info_name2 {
  background: none;
  color: #021725;
  font-size: 10pt;
  padding: 44px 40px 10px;
  opacity: 0.7;
}
.index-last-post_wrapper_img {
  display: inline-block;
  float: left;
  width: 50%;
  height: 390px;
}
.index-last-post_wrapper_info {
  display: inline-block;
  background: #f9f9f9;
  width: 50%;
  float: right;
  text-align: left;
  height: 390px;
}
.index-contact>.index-contact_name2 {
  padding-bottom: 54px;
}
.index-contact {
  width: 769px;
  text-align: center;
  margin: 0 auto;
}
.index-contact_name2,
.index-contact padding-bottom: 55px,
.index-contact_img {
  width: 100%;
  display: block;
}
.index-contact_wrapper {
  margin-bottom: 80px;
  display: inline-block;
}
.index-contact_wrapper_wrapper-contact {
  width: 769px;
  text-align: center;
  margin: 0 auto 80px;
}
.index-contact_wrapper_wrapper-contact_contact {
  display: inline-block;
  float: left;
  height: 206px;
  background: #f9f9f9;
  width: 50%;
  vertical-align: middle;
}
.index-contact_wrapper_wrapper-contact_name {
  color: #021725;
  font-size: 10pt;
  font-weight: 600;
  padding-top: 55px;
  padding-bottom: 50px;
  opacity: 0.8;
}
.index-contact_wrapper_wrapper-contact_txt {
  color: #021725;
  font-size: 14pt;
  font-weight: lighter;
  width: 210px;
  display: inline-block;
  opacity: 0.6;
}
